* {
    box-sizing: border-box;
    background-color: black;
    color: white;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: rgba(209, 15, 209, 0.788);
    color:white;
    text-align: center;
    font-size: px;
    padding: 10px;
}

/*formtação do menu*/
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    float: left;
}

.horizontal-menu {
    overflow: hidden;
    width: 205px;
}


.horizontal-menu a {
    background-color: plum;
    color:purple;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.horizontal-menu a:hover {
    background-color: white;
}