* {
    box-sizing: border-box;
    background-color: black;
    color: white;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: rgba(209, 15, 209, 0.788);
    color:white;
    text-align: center;
    font-size: px;
    padding: 10px;
}

/*formatação do menu*/
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 2;
}

li {
    float: left;
}

.horizontal-menu {
    overflow: hidden;
    width: 1000px;
}


.horizontal-menu a {
    background-color: rgb(221, 160, 221);
    color:purple;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.horizontal-menu a:hover {
    background-color: white;
}

/*colunas*/
article {
    float: left;
    padding: 70px;
    width: 50%;
    font-size: larger;
}

.banner {
    width: 100%;
}

aside {
    float: right;
    padding: 60px;
    width: 50%;
    text-align: center;
}

/*rodapé*/
p{
    float:left;
    padding: 10px;
    width: 100%;
}

.nav-footermenu {
    width: 1200px;
    position: absolute;
    left: 70%;
    transform: translateX(-50%);
}

footer li {
    list-style-type: none;
}